$primary-color:#014054;
$secondary-color:#ff5c7d;
$primary-bg:#014054;
$secondary-bg:#ffbbb5;
$default-color:#FFF;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-size: 16px;
  color: #000000;
  line-height: 1.26;

}

h1 {
  color: $primary-color;
  font-size: 60px;
  margin: 0 10px
}

h2 {
  color: $primary-color;
  font-size: 36px;

}

h3 {
  font-size: 24px;
  color: $default-color;
  padding: 15px 0;
}


h1,
h2 {
  margin: 20px 0;
  padding: 20px 0;
}

header {
  position: relative;
  display: block;
  min-height: 1240px;
  background: url("../assets/sophie-mutevelian-238-a-6339.jpg") no-repeat no-repeat center center;
  background-size: auto 100%;

  .nav-link {
    color: $default-color !important
  }

  .m10-brand-logo {
    max-width: 250px;

  }

  .container {
    padding: 10px 10px 80px 10px;

  }

  .header-message {
    text-align: center;
    padding: 10px;
    color: $default-color;
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
  }
}

a {
  text-decoration: none;
  color: $primary-color;

  :hover {
    color: $secondary-color;
  }
}


img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.m10-jumbotron {
  background-color: $secondary-bg
}

.m10-carousel {
  background-color: $primary-bg;
  color: $default-color;

  h1,
  h2 {
    color: $secondary-color;
  }

  .m10-btn {
    color: $default-color;
  }
}



.m10-btn {
  margin: 15px 0;
  background-color: transparent;
  border: 2px solid $secondary-color;

  :hover {
    background-color: $primary-color;
    color: $default-color
  }
}

.container {
  padding: 80px;
}


.m10-featured {
  .container {
    padding: 40px;

  }
}

.m10-featured-item {
  padding: 30px;
}

.m10-featured-image {
  padding: 0;
}




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.26;
  }

  h2 {
    font-size: 18px;
    font-weight: 700
  }

  h3 {
    font-size: 16px;
    font-weight: 500
  }

  .m10-carousel {
    text-align: center;
    justify-content: center;

    .image {
      display: block;
      margin: 0 auto;
      max-width: 250px;
      align-self: center;
      justify-self: center
    }
  }
}

.m10-bottom-logo {
  max-width: 65px;
  max-height: 72px;
  margin: 0 auto;
  float: right;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .m10-featured {
    .m10-featured-image {
      margin: 0px -20px;
    }

    .m10-featured-item {
      padding: 20px;
    }

  }

  .m10-bottom-logo {
    float: none;
  }



  header {
    min-height: 569px;
    background: url("../assets/sophie-mutevelian-238-a-6339.jpg") no-repeat no-repeat right center;
    background-size: auto 100%;


    .nav-link {
      font-size: 16px;
    }


    .m10-brand-logo {
      max-width: 192px;

    }

    .header-message {
      font-size: 22px;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}



.holo-carousel {
  font-size: 0;
  display: block;
  width: auto;
  position: relative;
  min-height: 110px;
  border: none;
  padding: 0;
  border-radius: 0;
  overflow: hidden !important;
  white-space: nowrap;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0 auto;


  >.holo-container {
    font-size: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    -moz-user-select: none;
    user-select: none;
    transform: translate3d(0, 0, 0);
  }

  .holo {
    position: relative;
    width: 337px;
    height: 524px;

    color: #fff;
    display: inline-block;
    background: rgba(2, 45, 95, 0.1);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    text-align: center;
    overflow: hidden;
    margin-right: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 16px;

    :hover {
      border-color: #ff1f1f;
    }

    .active {
      width: 729px !important;
    }
  }



  >.holo-container:last-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}